<ion-header>
    <ion-navbar>
        <ion-title>
            <img src="assets/imgs/logo3.png">
            <!--<ion-icon class="material-icons end">share</ion-icon> -->
            
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content text-center>

    <div class="qr_code_box">
        <h2>{{'scan_this_code_to_quickpay' | translate}}</h2>
        <div class="qr_code">
            <!-- <img src="assets/imgs/img_qrcode.png"> -->
            <ngx-qrcode *ngIf="qrcode"
                [qrc-value] = "qrcode"
                qrc-class = "aclass"
                qrc-errorCorrectionLevel = "L">
            </ngx-qrcode>
        </div>
        <p text-uppercase *ngIf="!qrcode">Please wait while we generate the QR Code...</p>
        <!-- <p>+ 987 654 3210</p> -->
    </div>
</ion-content>
<ion-footer no-border>
    <button ion-button block clear class="btn" (click)="onCancel()"> {{'cancel' | translate}}</button>
</ion-footer>
